/* src/LanguageSelector.css */
.language-dropdown {
  position: relative; /* Ensure positioning context for shifting */
}

.language-dropdown select {
  background-color: #090909;
  color: white;
  padding: 4px 8px; /* Reduce padding for a smaller size */
  border: 1px solid #000;
  border-radius: 7px;
  font-size: 14px; /* Smaller font size */
  cursor: pointer;
  width: auto; /* Use auto width for smaller size */
  max-width: 200px; /* Set a maximum width for the dropdown */
  margin-top: 0.5px;
  margin-bottom: -5px;
  margin-left: 360px;
}

.language-dropdown select:hover {
  background-color: #444;
}

.language-dropdown option {
  background-color: #333;
  color: white;
}
